{% extends 'base.html' %}

{% block content %}
<main class="container py=5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat rerum perferendis quidem voluptates alias, incidunt obcaecati dolorum eius sed officiis quam odit beatae possimus reprehenderit reiciendis quo dolor minus laborum? Eaque asperiores laudantium eveniet reprehenderit, eius voluptatum eos quisquam excepturi vitae mollitia eligendi ullam placeat voluptate id optio. Corporis eveniet aut cumque adipisci. Rem dolorem consectetur ex reiciendis quia fugit cupiditate natus, eligendi amet vero quod cum voluptate mollitia aspernatur nam, voluptatibus nobis necessitatibus temporibus nisi officiis error illum. Ab aspernatur architecto sit incidunt voluptatum ullam, harum nobis magnam eveniet iusto labore veniam! Tenetur alias, numquam sequi reprehenderit ullam placeat.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark " href="/signup">Signup</a>
            
        </div>
    </section>
</main>


{% endblock %}

